@import "tailwindcss";
@import "tw-animate-css";

body {
background-color: #121212;
  color: #FFFAFA;
}

@font-face {
  font-family: 'Neutral Face';
  src: url('/NeutralFace.otf') format('opentype');
}

@font-face {
  font-family: 'Neutral Face Bold';
  src: url('/NeutralFace-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Unageo Medium";
  src: url('/Unageo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Unageo Regular';
  src: url('/Unageo-Regular.ttf') format('truetype');
}

body {
  font-family: 'Unageo Regular';
}

h1,h2 {
  font-family: 'Neutral Face';
}

*{
  box-sizing: border-box;
}

